<!--
Render a watchList - a list of Watch Keys/icons
Each list entry should be clickable to register
an "isaw"
-->

<ion-list>

  <ion-item *ngFor="let watch of watchList$ | async">
    <ion-card >
      <ion-fab right>
        <button ion-fab (click)="watchWasClicked(watch)">
          <ion-icon name="eye"></ion-icon>
        </button>
      </ion-fab>
      <ion-card-header>
        {{watch.description}}
      </ion-card-header>

      <ion-card-content>
        watching: {{watch.noticeableKey}}
        count: {{watch.count}}
      </ion-card-content>

    </ion-card>
  </ion-item>
</ion-list>
